@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "roboto";
}
.title {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: white;
}
.wheels {
    background-color: rgba(255, 255, 255, 0.7);;
    border-radius: 5px;
    padding: 5%;
    font-size: 30px;
}
.wheeldisclaimer {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    font-size: 50px;
}
.rules {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1%;
    border-radius: 5px;
}